---
pagination:
  data: collections.post
  size: 1
  alias: og
permalink: "/img/og/{{ og.data.date | postDate }}-{{ og.data.title | slug }}.svg"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="1200" height="628" viewBox="0 0 1200 628" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
{% set lineSpacing = 90 %}
{% set base = 240 %}
{% set fontFamilyDate = "Inter" %}
{% set fontFamilyTitle = "Charter" %}
{% set bgColor = "#f1dec1" %}
{% set dateColor = "#251a00" %}
{% set titleColor = "#251a00" %}
    {% set titleInLines = og.data.title | splitlines %}
    {% set numberOfLines = titleInLines.length %}
    {% if numberOfLines == 1 %}
        {% set verticalStartingPoint = base + 130 %}
    {% elseif numberOfLines == 2 %}
        {% set verticalStartingPoint = base + 80 %}
    {% elseif numberOfLines == 3 %}
        {% set verticalStartingPoint = base + 40 %}
    {% elseif numberOfLines == 4 %}
        {% set verticalStartingPoint = base %}
    {% endif %}
    <rect width="100%" height="100%" fill="{{bgColor}}" />
    <text font-family="{{fontFamilyDate}}" font-size="30" fill="{{dateColor}}">
        <tspan x="100" y="{{verticalStartingPoint - 90}}">{{ og.date | readableDate }}</tspan>
    </text>
    <text id="text" font-family="{{fontFamilyTitle}}" font-size="80" font-weight="bold" fill="{{titleColor}}">
    {% for line in titleInLines %}
        <tspan x="100" y="{{verticalStartingPoint + loop.index0 * lineSpacing}}">{{line}}</tspan>
    {% endfor %}
    </text>
</svg>